APP_NAME=AI SQL Studio API
API_V1_PREFIX=
DEBUG=true
ANALYTICS_DB_URL=sqlite:///./data/demo_analytics.db
METADATA_DB_URL=sqlite:///./data/app_metadata.db
AI_PROVIDER=mock
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.1
HF_MODEL=google/flan-t5-base
DEFAULT_ROW_LIMIT=200
DEFAULT_SQL_LIMIT=200
